body{
    color: white;
}

.topNav{
    overflow: hidden;

}

.topNav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14 16;
    text-decoration: none;
}

@media screen and (max-widht: 600) { .topNav a{
    float: none;
    width: 100%;
}
    
}

.carrusel{
    width: 100%;
    height: 10%;
}

